<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdminModule.Properties.Settings.adminpanelConnectionString"
            connectionString="Data Source=DESKTOP-EIS8P32;Initial Catalog=adminpanel;Integrated Security=False"
            providerName="System.Data.SqlClient" />
        <add name="AdminModule.Properties.Settings.FASTERPConnectionString"
            connectionString="Data Source=13.229.231.75;Initial Catalog=fasterp;User ID=iptuser;Password=Iptdemo123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>